<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ ©2017 Rajneesh Singh
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rks.musicx"
    android:installLocation="auto">

    <!--- Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <!--<uses-permission-sdk-23 android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission-sdk-23 android:name="android.permission.VIBRATE"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission-sdk-23 android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission-sdk-23 android:name="android.permission.WAKE_LOCK"/>
    <uses-permission-sdk-23 android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission-sdk-23 android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->


    <application
        android:name=".MusicXApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppThemeNormalLight">

        <!-- Services -->
        <service
            android:name=".services.MusicXService"
            android:enabled="true" />

        <!--- Receiver -->
        <receiver android:name=".ui.homeWidget.MusicxWidget4x2"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/musicxwidget"/>
        </receiver>

        <receiver android:name=".ui.homeWidget.MusicXwidget4x4"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/musicxwidget4x4"/>
        </receiver>

        <receiver android:name=".ui.homeWidget.MusicXWidget5x5"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/musicxwidget5x5"/>
        </receiver>

        <receiver android:name=".services.MediaButtonReceiver">
            <intent-filter android:priority="1001">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <!--- Activities -->

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNormalLight">
           <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.CATEGORY_APP_MUSIC"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.PlayingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNormalLight"/>

        <activity
            android:name=".ui.activities.EqualizerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNormalLight"/>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNormalLight"/>
        <activity
            android:name=".ui.activities.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNormalLight"/>
        <activity
            android:name=".ui.activities.IntroActivity"
            android:label="@string/Intro"
            android:theme="@style/AppThemeNormalLight"/>

        <activity android:name=".ui.activities.DonationActivity"
            android:label="@string/donation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNormalLight"/>

        <activity android:name=".ui.activities.ShortcutActivity"
            android:label="@string/shortcuts"
            android:theme="@style/AppThemeNormalLight"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6352a699c9e586afdb2512798e97b88777c73fc7" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.rks.musicx.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>